html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    margin: 0px;
    padding: 0;
    margin: 0;
    background-color: #21273d;

}

main{
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;

}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

ul{
    margin: 0;
    padding: 0;
}

h6,
h5,
h4,
h3,
h2,
h1{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}


